# PlatformIO
firmware/.pio
firmware/.vscode/.browse.c_cpp.db*
firmware/.vscode/c_cpp_properties.json
firmware/.vscode/launch.json
firmware/.vscode/ipch

# Next.js
dashboard/.next
dashboard/node_modules
dashboard/dist

# SQLite data
dashboard/data/*
!dashboard/data/.gitkeep

# Superpowers brainstorm
.superpowers/
.pio
